#include "/home/balu/.Xresources.d/Xresources-themes-master/xcolors-material.Xresources"
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.font: xft:DejaVu Sans Mono:size=10:antialias=true
URxvt*perl-ext-common: tabbed,eval,selection,selection-to-clipboard
URxvt*scrollBar: false
URxvt*highlightSelection: true
!URxvt*cursorBlink: 1
URxvt*transparent: true
! URxvt*shading: 99 to 0 darkens, 101 to 200 lightens
URxvt*shading: 15
URxvt.keysym.Home: \033[7~
URxvt.keysym.End: \033[8~
URxvt.keysym.KP_Home: \033[7~
URxvt.keysym.KP_End:  \033[8~
! for the weird ISO popup at bottom left to stop
URxvt.iso14755: false
URxvt.iso14755_52: false
