# this snippet is only for reference, doesn't actually work
priority -55
global !p
from vimsnippets import get_comment_format
endglobal

snippet todo "fast todo comment for balu" bw
`!p snip.rv=get_comment_format()[0]` TODO: $0 <`!v strftime('%d-%m-%y')`, `!v g:snips_author`> `!p snip.rv=get_comment_format()[2]`
endsnippet
